<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
    <context-param>
        <param-name>uid</param-name>
        <param-value> 55  </param-value>
    </context-param>
    <servlet>
        <servlet-name>ClientRegistrationServlet</servlet-name>
        <servlet-class>Client.ClientRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContextServlet</servlet-name>
        <servlet-class>CodeServlet.ContextServlet</servlet-class>
        <init-param>
            <param-name> Email </param-name>
            <param-value> varun.shah3129@gmail.com </param-value>
        </init-param>
        <init-param>
            <param-name> Name </param-name>
            <param-value> Varun </param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ClientLoginServlet</servlet-name>
        <servlet-class>Client.ClientLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStockServlet</servlet-name>
        <servlet-class>StockPackages.AddStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBullionServlet</servlet-name>
        <servlet-class>StockPackages.AddBullionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPropertyServlet</servlet-name>
        <servlet-class>StockPackages.AddPropertyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMFServlet</servlet-name>
        <servlet-class>StockPackages.AddMFServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLoanServlet</servlet-name>
        <servlet-class>StockPackages.AddLoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientLogoutServlet</servlet-name>
        <servlet-class>Client.ClientLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPswdServlet</servlet-name>
        <servlet-class>Client.ForgotPswdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactUs</servlet-name>
        <servlet-class>Client.ContactUs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePswdServlet</servlet-name>
        <servlet-class>Client.ChangePswdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientRegistrationServlet</servlet-name>
        <url-pattern>/ClientRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContextServlet</servlet-name>
        <url-pattern>/ContextServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientLoginServlet</servlet-name>
        <url-pattern>/ClientLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStockServlet</servlet-name>
        <url-pattern>/AddStockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBullionServlet</servlet-name>
        <url-pattern>/AddBullionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPropertyServlet</servlet-name>
        <url-pattern>/AddPropertyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMFServlet</servlet-name>
        <url-pattern>/AddMFServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLoanServlet</servlet-name>
        <url-pattern>/AddLoanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientLogoutServlet</servlet-name>
        <url-pattern>/ClientLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPswdServlet</servlet-name>
        <url-pattern>/ForgotPswdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactUs</servlet-name>
        <url-pattern>/ContactUs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePswdServlet</servlet-name>
        <url-pattern>/ChangePswdServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>pages/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
